<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/allOrders.css">

<div class="container">
    <% for(var i=0;i<orders.length;i++){ %>
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <%= orders[i].cart.items.qty %>
                        <% for(var j=0;j<orders[i].items.length;j++){ %>
                            <b><%= orders[i].items[j].item.title %> : <%= orders[i].items[j].qty %> * <%= orders[i].items[j].item.price %> = <%= orders[i].items[j].qty *  orders[i].items[j].item.price %></b>
                            <p></p>
                        <%}%>
                        <p class="total">TOTAL PRICE: <%= orders[i].cart.totalPrice %></p>
                    </div>
                  </div>
            </div>
            <div class="col-8">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        DATE: <%= orders[i].date.toDateString() %>
                        <hr>
                        NAME: <%= orders[i].user.username %> <p></p>
                        ADDRESS: <%= orders[i].user.address.country %>
                        <p class="address">
                            <%= orders[i].user.address.apparmentName %>, near <%= orders[i].user.address.landmark %>,
                            house number: <%= orders[i].user.address.flatNo %>,
                            <%= orders[i].user.address.city %>,
                            <%= orders[i].user.address.state %>,
                            <%= orders[i].user.address.pin %>
                        </p>
                        
                    </div>
                  </div>
            </div>
        </div>
        <hr>
    <%}%>
</div>

<%- include("partials/footer") %>


 

