<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
 
<div class="container">
    <div class="row">
        <% for(var i=0;i<product.length;i++){ %>
            <div class="col-lg-4 col-md-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img class="img-fluid" src="<%= product[i].imagePath %>" alt="Avatar">
                      </div>
                      <div class="flip-card-back">
                        <h1><%= product[i].title %></h1>
                        <p><%= product[i].description %></p>
                        <div>
                            <div class="price pull-left">Rs <%= product[i].price %></div>
                            <a href="/add-to-cart/<%=product[i]._id  %>" class="pull-right btn btn-warning">Add to Cart</a>
                            <% if((currentUser)&&(currentUser.username==owner)){ %>
                              <form action="/index/<%= product[i]._id %>?_method=DELETE" method="POST">
                                <button class="pull-right btn btn-warning">delete</button>
                              </form>
                            <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        <%}%>
    </div>
</div>
  
<%- include("partials/footer") %>


