<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/shoppingCart.css">

<div class="shoppingCart">

    <% if(product == null){ %>
        <div class="row">
            <div class="msg">
                <b>No item in cart</b>
            </div>
        </div> 
    <% }else{ %>
    
        <% if(product.length >0){ %>
    
        <div class="row">
            <div class="details">
                <ul class="list-group">
                <% for(var i=0;i<product.length;i++){ %>
    
                    <li class="list-group-item">
                        <span class=" float-right"><%= product[i].qty %></span>
                        <b><%= product[i].item.title %></b>
                        <span>Rs<%= product[i].item.price %></span>
                        <div class="icons d-inline">
                            <a href="/reduce/<%= product[i].item._id %>"><i class="fa fa-minus"></i></a>
                            <a href="/increaseOne/<%= product[i].item._id %>"><i class="fa fa-plus"></i></a>
                            <a href="/removeAll/<%= product[i].item._id %>"><i class="fa fa-trash"></i></a>
                        </div>
                    </li>
    
                    <%}%>
                </ul>
            </div>
        </div>
    
    
    
        <div class="row">
            <div class="total">
                <b id="bold">Total: Rs<%= totalPrice %> </b>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="button">
                <a href="/checkout" type="button" class="btn btn-warning">Place Order</a>
            </div>
        </div>
        <%}else{%>
        <div class="row">
            <div class="msg">
                <h3>Cart is Empty</h3>
            </div>
        </div>
        <%}%>
    
    <% } %>



</div>


<%- include("partials/footer") %>



